.login_modal_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s 0s ease-out, transform 0.3s 0s ease-out;
  transform-origin: center;
}
.login_modal_body {
  color: white;
  z-index: 9989;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition: opacity 0.3s 0s ease-out, transform 0.3s 0s ease-out;
  transform-origin: center;
  background-color: #135f87;
  height: max-content;
}
.show_login_modal {
  opacity: 1 !important;
  pointer-events: auto !important;
  transform: scale(1) !important;
}
